<ion-header>
  <header-component #header [title]="'Home'" [isAuth]="isAuth" [isHomePage]="true" ></header-component>
</ion-header>

<ion-content>
  <img alt="header" src="assets/imgs/header.jpg">
  <ion-list>
    <ion-item *ngFor="let flight of actualFlights" (click)="addTicket(flight)">
      <div class="row-flight">
        <div class="flight-item">{{flight.name }}</div>
        <div class="line">|</div>
        <div class="flight-item">{{flight.date | date: 'dd/MM/yyyy' }}</div>
        <div class="line">|</div>
        <div class="flight-item" *ngIf="flight.startPoint">{{flight.startPoint}}-{{flight.endPoint }}</div>
        <div class="flight-item" *ngIf="!flight.startPoint">{{flight.route.startPoint}}-{{flight.route.endPoint }}</div>
        <div class="line">|</div>
        <div class="flight-item">{{flight.status }}</div>
        <div class="line">|</div>
        <div class="flight-item">{{flight.availableSeatsCount+'\n'+'places'}}</div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
